<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>仓库编辑</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <meta name="Cache-Contol" content="no-store" />
  <link rel="stylesheet" href="../css/font.css">
  <link rel="stylesheet" href="../css/xadmin.css">
  <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/xadmin.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <form class="layui-form">
      <div class="layui-form-item">
        <label for="warehouse" class="layui-form-label">
          <span class="x-red">*</span>仓库
        </label>
        <div class="layui-input-block">
          <select id="warehouse" name="warehouse" lay-verify="required"
                  class="layui-input" autocomplete="off">
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">
          <span class="x-red">*</span>类型
        </label>
        <div class="layui-input-block">
          <input type="radio" name="type" lay-skin="primary" title="产品仓库" value="product" checked="checked">
          <input type="radio" name="type" lay-skin="primary" title="原材料仓库" value="material">
        </div>
      </div>
      <div class="layui-form-item">
        <label for="button" class="layui-form-label">
        </label>
        <button  class="layui-btn" id="button" lay-filter="add" lay-submit="">
          修改
        </button>
      </div>
    </form>
  </div>
</div>
<script>layui.use(['form', 'layer'],
        function() {
          $ = layui.jquery;
          var form = layui.form;
          var layer = layui.layer;

          form.verify({});

          form.on('submit(add)',
                  function(data) {
                    console.log(data);
                    var wid = data.field.warehouse;
                    var type;
                    if (data.field.type === 'product') {
                      type = '产品仓库';
                    } else if (data.field.type === 'material') {
                      type = '原材料仓库';
                    }
                    $.ajax({
                      type: "put",
                      url: "/warehouse/type",
                      data: {
                        wid: wid,
                        type: type
                      },
                      success(result) {
                        if (result.code === 200) {
                          layer.alert("修改成功", {
                                    icon: 6
                                  },
                                  function() {
                                    xadmin.close();
                                    xadmin.father_reload();
                                  });
                        } else {
                          layer.alert(result.message, {
                                    icon: 6
                                  },
                                  function() {
                                    xadmin.close();
                                    xadmin.father_reload();
                                  })
                        }
                      },
                      error(message) {
                        layer.alert(message, {
                                  icon: 6
                                },
                                function() {
                                  xadmin.close();
                                  xadmin.father_reload();
                                }
                        )
                      }
                    })
                    return false;
                  });

          window.onload = function() {
            var select = document.getElementById("warehouse");
            $.ajax({
              type: "get",
              url: "/warehouses",
              data: {},
              success(result) {
                if (result.code === 200) {
                  var warehouses = result.data.warehouses;
                  var size = result.data.size;
                  for (var index=0; index<size; index++) {
                    var option = new Option();
                    option.setAttribute("value", warehouses[index].wid);
                    option.innerText = warehouses[index].address;
                    select.options.add(option);
                  }
                  form.render();
                }
              },
              error(message) {
                alert(message);
              }
            })
          }

        });
</script>
</body>
</html>