<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.warehouse.mapper.ProductMaterialMapper">

    <resultMap id="relation" type="com.database.warehouse.entity.ProductMaterial">
        <id property="pid" column="product_material_product_id" />
        <id property="mid" column="product_material_material_id" />
        <result property="number" column="product_material_number" />
    </resultMap>

    <select id="selectProductMaterialByKey" resultMap="relation">
        SELECT `product_material_product_id`, `product_material_material_id`, `product_material_number`
        FROM `product_material`
        WHERE `product_material_product_id` = #{pid}
          AND `product_material_material_id` = #{mid}
    </select>

    <select id="selectProductMaterialByPid"  resultMap="relation">
        SELECT `product_material_product_id`, `product_material_material_id`, `product_material_number`
        FROM `product_material`
        WHERE `product_material_product_id` = #{pid}
    </select>

    <select id="selectProductMaterialByMid" resultMap="relation">
        SELECT `product_material_product_id`, `product_material_material_id`, `product_material_number`
        FROM `product_material`
        WHERE `product_material_material_id` = #{mid}
    </select>

    <insert id="insertProductMaterial" parameterType="com.database.warehouse.entity.ProductMaterial">
        INSERT INTO `product_material` (`product_material_product_id`, `product_material_material_id`, `product_material_number`)
        VALUES (#{relation.pid}, #{relation.mid}, #{relation.number})
    </insert>

    <update id="updateProductMaterial" parameterType="com.database.warehouse.entity.ProductMaterial">
        UPDATE `product_material`
        SET `product_material_number` = #{relation.number}
        WHERE `product_material_product_id` = #{relation.pid}
          AND `product_material_material_id` = #{relation.mid}
    </update>

    <delete id="deleteProductMaterial" parameterType="Long">
        DELETE FROM `product_material`
        WHERE `product_material_product_id` = #{pid}
          AND `product_material_material_id` = #{mid}
    </delete>

    <delete id="deleteProductMaterialByPid" parameterType="Long">
        DELETE FROM `product_material`
        WHERE `product_material_product_id` = #{pid}
    </delete>

    <delete id="deleteProductMaterialByMid" parameterType="Long">
        DELETE FROM `product_material`
        WHERE `product_material_material_id` = #{mid}
    </delete>

</mapper>